* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    width: 70%;
    max-width: 1200px; /* Or whatever maximum width you prefer */
    margin: 0 auto;
    /* background-color: #f00; */
}

a {
    text-decoration:  none;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;

    .main-menu {
        display: flex;
        gap: 40px;
    }

    .main-menu a {
        font-size: 18px;
        color: #e5e7eb;
    }

    .logo {
        /* color: rebeccapurple; */
        color: #f9faf8;
        font-size: 24px;
        font-weight: 900;
        font-style: italic;
    }
}

/* hero section */
.hero {
    display: flex;
    gap: 20px;
    padding: 20px;

    .right-hero {
        flex: 1;
    }

    .right-hero .main-title {
        font-size: 48px;
        font-weight: 900;
        color: #f9faf8;
    }

    .right-hero .sub-text {
        font-size: 18px;
        color: #f9faf8;
    }

    .hero-img {
        flex: 1;
    }

    .hero-img img{
        width: 500px;
        height: 250px;;
    }
}

/* background-color for both header and hero */
.header {
    background-color: #1f2937;
}

.hero {
    background-color: #1f2937;
}